body {
  font-family: Verdana, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

/* WINDOW */
.widow-container {
  position: fixed;
  width: 100vw;
  height: 100vw;
}

.window {
  background: linear-gradient(to right, rgba(120, 120, 150, 1), rgba(6, 38, 89, 1));
  width: 80vw;
  min-height: 40vh;
  left: 50%;
  top: 200px;
  margin-left: -40vw;
  position: fixed;
  border-radius: 10px;
  box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.5);
  overflow: auto;
}

.window-bar {
  position: relative;
  width: 100%;
  min-height: 40px;
  background: linear-gradient(to right, rgba(100, 100, 100, 0.8), rgba(50, 50, 50, 0.8));
  color: rgb(250, 250, 250);
  line-height: 40px;
}

.window-title {
  margin: auto;
  font-weight: bold;
}

.close {
  color: rgb(127, 31, 31);
  font-size: 36px;
  font-weight: bold;
  position: absolute;
  right: 6px;
  top: -2px;
  text-shadow: 0 0 10px white;
  cursor: pointer;
}

.close:hover {
  text-shadow: 0 0 10px red, 0 0 20px red;
}

/* BUTTON */
button.common {
  background-image: url(./assets/button_common.png);
  color: white;
  font-weight: 600;
  text-shadow: 0 0 10px black, 0 0 20px black;
  box-shadow: 0 0 5px 2px black;
  background-size: cover;
  border-radius: 3px;
  padding: 4px;
  border: 0;
  margin: 5px;
}

button.common:hover {
  box-shadow: 0 0 5px 2px white;
}

button.common.white {
  box-shadow: 0 0 5px 2px white;
}

button.common.white:hover {
  box-shadow: 0 0 5px 2px black;
}
